<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      xmlns:tools="http://schemas.android.com/tools"
      package="org.openobjectives.machinery"
      android:versionCode="3"
      android:versionName="1.2"
    >

    <application
        android:icon="@drawable/machinery"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".A1Main"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".A2AddUnitFormActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".A2DeleteUnitFormActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".A3MenuActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".A3MenuResourcesActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".A4SingleLogActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".A5PrintResourceActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".A6VisualizeActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".A7SettingsActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".A8HelpActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".A2ImExportActivity"
            android:label="@string/app_name"></activity>
        <activity android:name=".A0ExplainWizard"
                  android:label="@string/app_name">
        </activity>

        <service android:enabled="true" android:exported="false" android:name=".service.NetworkService" />

    </application>

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

</manifest>